OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.5
OPENAI_ENABLE_WEB_SEARCH=0
TENNISSTATS_ENABLE_FETCH=0
TENNISSTATS_ENABLE_SEARCH=1
SEARCH_FALLBACK_ENABLE=1
RAPID_TENNIS_API_KEY=
RAPID_TENNIS_HOST=tennis-api-atp-wta-itf.p.rapidapi.com
RAPID_TENNIS_BASE_URL=https://tennis-api-atp-wta-itf.p.rapidapi.com
RAPID_TENNIS_CACHE_TTL_MS=300000
RAPID_TENNIS_MATCH_PAGE_LIMIT=100
RAPID_TENNIS_MATCH_MAX_PAGES=6
TENNIS_DATA_MODE=sample
TENNIS_DATA_UPDATED_AT=2026-07-05T00:00:00.000Z
HOST=127.0.0.1
ALLOWED_ORIGIN=*
VITE_API_BASE_URL=
